<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./icons/icon-brand.svg">

    <script src="https://kit.fontawesome.com/c238628491.js" crossorigin="anonymous"></script>

    <title>Nganggur</title>
</head>
<body>
    <header class="app-bar">
        <div class="menu">
            <button id="menu-btn">Menu</button>
        </div>
        <div class="app-title">
            <h1 class="title">Nganggur</h1>
        </div>
        <nav class="navigation" id="navigation">
            <div class="nav-bar">
                <ul id="drawer-menu">
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/brands">Brands</a></li>
                    <li><a href="#/about-us">About Us</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main id="main-content"></main>
    <footer>
        <div class="ftr-sect ftr-1">
            <p>&#169; 2022 <strong>Nggr Prjct</strong>, All rights reserved.</p>
        </div>
        <div class="ftr-sect ftr-2">
            <p><strong>.Design by</strong></p>
            <p>@asma.ra</p>
        </div>
        <div class="ftr-sect ftr-3">
            <p><strong>.Developed by</strong></p>
            <p>@_aryapdf</p>
        </div>
    </footer>
</body>
</html>